Informações do Cliente sobre o Restaurante: 

O estabelecimento foi idealizado e fundado por mim, juntamente com a minha esposa, sua tia, e o seu tio Danilo, além do seu avô. A colaboração entre nós quatro foi fundamental para a concretização deste projeto, que nasceu da união de nossas ideias e experiências.
Atualmente, sou o responsável pela administração do restaurante, onde busco manter viva a tradição familiar e oferecer aos nossos clientes uma experiência gastronômica de qualidade.
Devido à necessidade, tínhamos um restaurante localizado no centro da cidade. No entanto, em decorrência da demolição de uma área próxima,  foi necessário buscar um novo local para o estabelecimento. Após a busca por um novo ponto, o restaurante passou a se chamar 'Lanchonete de Ouro'. A empresa também possuía uma equipe esportiva denominada 'Titãs', a qual desempenhou um papel importante no início das atividades da empresa.

Horário de funcionamento: 
quarta-feira	06:00–21:00
quinta-feira	06:00–21:00
sexta-feira	06:00–00:00
sábado	06:00–20:00
domingo	Fechado
segunda-feira	06:00–21:00
terça-feira	06:00–21:00
Sugerir novos horários

Instagram: titansdeouro

Whatsapp: +55 11 96700-6333

Telefone fixo: +55 (11)32210110

